$tablet = "(min-width: 768px)"
$desktop = "(min-width: 1170px)"

*, *::before, *::after
  margin 0
  padding 0
  box-sizing border-box

html
  font-size 18px
  font-family "Open Sans", "Trebuchet MS", Helvetica, Arial, sans-serif

body
  background-color #CCC
  color #FFF
  text-align center
  margin 0 auto
  padding 0
  position relative

a
  text-decoration none 
  outline none
  color #FFF
  &:visited, &:hover
    color #FFF

p, h1, h2, h3 
  margin 0.25em

.box
  display flex
  flex-flow row wrap
  justify-content center
  align-content center
  align-items flex-start
  > header
    width 100% 
    height auto 

  > footer
    width 100% 
    height auto 

section
  width 100%
  display flex
  flex-flow column wrap
  justify-content center
  align-items center
  &:nth-of-type(1)
    box-shadow 0px 5px 20px 4px rgba(0,0,0,1)
  &:nth-of-type(4n+1), &:nth-of-type(4n+3)
    color #222
    background rgba(255,255,255,1)
  &:nth-of-type(4n+2)
    background rgba(192,176,176,1)
    border-style solid
    border-width 10px 0 10px 0
    border-color rgba(192,176,176,1)
    box-shadow inset 0px 5px 0px 0px rgba(255,255,255,1), inset 0px -5px 0px 0px rgba(255,255,255,1)
  &:nth-of-type(4n+4)
    background rgba(104,176,175,1)
    border-style solid
    border-width 10px 0 10px 0
    border-color rgba(104,176,175,1)
    box-shadow inset 0px 5px 0px 0px rgba(255,255,255,1), inset 0px -5px 0px 0px rgba(255,255,255,1)
  &:not(.fullscreen) 
    @media $desktop
      width 100%
  > article
    flex-flow column wrap


header
  display flex
  flex-flow column wrap
  justify-content center
  align-items center
  margin 0
  margin-bottom 0.5em
  min-height 100vh
  a
    color #FFF
    &:visited, &:hover
        color #FFF
  &:before
    content ""
    position fixed
    left 0
    right 0
    z-index -1
    display block
    background rgba(150,150,150,1) url(../img/background.jpg) no-repeat center center
    background-size cover
    filter blur(5px)
    width 100%
    height 155%
  > div
    margin 2em 0

@media $desktop
  .arrow-wrapper
    position absolute
    top 85vh
    cursor pointer
    width 142px
    height 77px
    transition transform 0.7s, opacity 0.2s
    transform translateY(0)
    .arrow-down
      position absolute
      display inline-block
      top 0
      left 0
      width 142px
      height 77px
      background url(../img/down-arrow.png) no-repeat center center
      opacity 1
      transition transform 0.1s, opacity 0.4s 

    .shadow
      position absolute
      display inline-block
      top 0
      left 0
      width 142px
      height 77px
      background url(../img/down-arrow-shadow.png) no-repeat center center
      top 10px
      opacity 0.5

    &:hover
      &:not(.shadow)
        .arrow-down 
          transform translateY(10px)

  &.hidden
    transform translateY(-200%)
    opacity 0
    

article
  flex 0 1 auto
  padding 3em 1.25em
  margin 0
  background rgba(255,255,255,0)
  transition all 1s ease
  width 100%
  @media $desktop
    padding 1.25em
    width 64%
  p
    text-align left
  .amenities-list
    display flex
    justify-content center
    text-align left
  @media $desktop
    margin 6em 0

.amenity-lists-wrapper
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  align-content center
  margin-top 1em
  @media $desktop
    margin-top 5em

  .amenity-list
    flex 0 1 30%
    display flex
    flex-flow row wrap
    justify-content center
    align-items center
    align-content center
    ul
      margin 2em 10%
      list-style none

    .amenity-circle
      display flex
      justify-content center
      align-items center
      align-content center
      background rgba(104,176,175,1)
      border-radius 50%
      width 100px
      height 100px
      margin 1em
      img
        filter invert()
        width 60px
        margin 0 20px
    

footer
  padding 0.25em
  margin 3em 0

.button
  background-color #FF5A5f
  border-radius 4px
  display flex
  cursor pointer
  color #FFF
  font-size 1em
  line-height 2em
  padding 0.8em 2em
  margin-bottom 1em
  text-decoration none
  text-shadow 1px 1px 0px #E65156
  &:visited, &:hover
      color #FFF
  img
    width 2em
    height 2em
    margin-left 1em
  p
    margin 0

.button:hover
  background-color #E65156

.button:active
  position relative
  top 1px

// .carousel-wrapper
//   padding 1em
//   border 3px solid #FFF

.owl-carousel, .owl-carousel-fullscreen
  img
    cursor pointer
    &:focus
      outline 0

.owl-carousel-fullscreen
  z-index 998
  position fixed
  right 0
  top 0

.carousel-fullscreen-wrapper
  display flex
  flex-direction column
  justify-content center
  z-index 997
  position fixed
  left 0
  top 0
  margin 0
  padding 1em
  height 100%
  width 100%
  text-align center
  background rgba(0,0,0,0.75)
  .close-button
    z-index 999
    position fixed
    right 1.15em
    top 1em
    @media $desktop
      top 1.45em
    width 40px
    height 40px
    border 4px solid rgba(0,0,0,1)
    border-radius 8px
    background rgba(0,0,0,1) url(../img/cross.png) no-repeat center center
    cursor pointer
    opacity 0.75

.carousel-fullscreen-scale
  opacity 0
  visibility hidden
  transform scale(0.9)
  transition transform 0.2s, opacity 0.2s, visibility 0s 0.2s
  &.open
    opacity 1
    visibility visible
    transform scale(1)
    transition transform 0.4s, opacity 0.4s

// .video-wrapper
//   padding 1em
//   border 3px solid rgba(104,176,175,1)

#panorama 
  width 100%
  height 200px
  @media $desktop
    height 600px

// .panoramic-wrapper
//   padding 1em
//   border 3px solid rgba(255,255,255,1)
